*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Roboto;
  background-color: #F8F8F8;
}
.menuback{
  height: 100%;
  opacity: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding-top: 1rem;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  overflow-y: auto;
}

/* menuback Header */

.menuback__header{
  display: flex;
  justify-content: space-between;
  width: 297px;
  height: 51px;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.menuback__icon-x, .menuback__icon-q{
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  align-self: center;
}

.menuback__icon-s{
  margin-right: auto;
  width: 97px;
  height: 51px;
  align-self: center;
}

/* Services Section in Menuback */
.menuback__services{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.menuback__services-active{
  width: 296px;
  height: 24px;
  margin-bottom: 32px;
  display: flex;
}

.menuback__services-active-anchor{
  text-decoration: none;
  color: #7E7E82;
  margin-left: 1.5rem;
}

.menuback__link{
  margin-bottom: 32px;
  margin-left: 1.5rem;
  text-decoration: none;
  color: black;
}

.menuback__footer{
  margin-top: auto;
  width: 162px;
  height: 124px;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  justify-content: flex-start;
}

.menuback__footer-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuback__footer-icon{
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
}

.menuback__info{
  width: 163px;
  display: flex;
  flex-direction: column;
}

.menuback__phone{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
  align-self: center;
}


.menuback__language{
  margin-left: 1.5rem;
  margin-bottom: 32px;
  margin-top: 40px;
}
/* .menuback__link:nth-child(2){
    margin-bottom: 32px;
} */


/* Media Queries */
@media (min-width: 768px)
{

  .rectangle{
    width: 40%;
    height: 100%;
    padding-bottom: 50%;
  }
}


@media (min-width: 1440px) {
  .whole-container{
    display: flex;
    flex-direction: row;
  }
  
  .menuback{
    display: flex;
    width: 20%;
    height: 2080px;
    padding-bottom: 50%;
  }
}